body {
  height: 800px;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: start;
}
/*------------------------------------------------------------------------------------------*/
.main-content {
  background-color: #1b1834;
  position: relative;
  z-index: 2;
  min-width: 100vw;
  overflow-x: auto;
}
.img-background {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 0;
  z-index: -1;
}
.img-background img {
  width: 100%;
  height: auto;
}
.header {
  background-color: #2d2a58;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 46px;
  padding-right: 40px;
  z-index: 5;
  position: relative;
}
.logo-namewebsite {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.signup-login-avatar {
  display: flex;
  align-items: center;
  gap: 27px;
}
.signup {
  background-color: #e7005e;
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 8px 25px;
  border-radius: 60px;
  font-weight: 350;
  cursor: pointer;
  margin-right: -30px;
  z-index: 2;
}
.login {
  background: rgba(231, 0, 94, 0.45);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 8px 30px;
  border-radius: 60px;
  font-weight: 350;
  padding-left: 45px;
  cursor: pointer;
  z-index: 1;
}
.avatar {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
a {
  color: white;
  font-weight: 250;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  opacity: 0.7;
  transition: color 0.4s;
  z-index: 3;
}
ul {
  list-style: none;
  display: flex;
  gap: 25px;
  z-index: 3;
}
ul li {
  position: relative;
}
ul li a {
  text-decoration: none;
  color: white;
  font-weight: 250;
  padding: 10px;
  transition: color 0.4s;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  opacity: 0.7;
}
a:hover {
  color: #ff007a;
}
/*----------------------------------------------------------------------------------------*/
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 230px;
  position: relative;
  gap: 15px;
}
.Search {
  display: flex;
  position: relative;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  border-radius: 70px;
  z-index: 3;
}
.Search input {
  background: transparent;
  width: 630px;
  padding: 15px 30px;
  border-radius: 80px;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #ffffff;
}
.Search:hover {
  background: rgba(255, 255, 255, 0.2);
}
/*-------------------------------------------------------------------*/
.text-img-bottomcontent {
  position: relative;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.text-bottomcontent {
  max-width: 600px;
  padding-left: 100px;
  padding-top: 25px;
  font-size: 17px;
  margin: 15px 0 30px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 1.6;
}

.text-bottomcontent h1 {
  font-size: 57px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

.gradient-text {
  background: linear-gradient(90deg, #e7005e, #ff7a02);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 63px;
}

.buttons-bottom {
  display: flex;
  gap: 22px;
  transition: 0.3s;
  padding-top: 15px;
}

.buttons-lotrinhhoc {
  background-color: #e7005e;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 350;
  border-radius: 70px;
  padding: 10px 25px;
  transition: opacity 0.4s;
  cursor: pointer;
}

.buttons-thuthach {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 350;
  border-radius: 70px;
  padding: 10px 25px;
  transition: opacity 0.4s;
  cursor: pointer;
}

.buttons-lotrinhhoc:hover {
  opacity: 0.8;
}
.buttons-thuthach:hover {
  opacity: 0.8;
}
